body {
    margin: 0;
    background: #e9e9e9;
    background-size: cover;
    font-family: "Lucida Grande" ,Helvetica, sans-serif;
}

header {
    background: #0077b5;
    color: #fff;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

h1 {
    font-size: 21px!important;
    line-height: 1.3!important;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    color: rgb(17, 17, 17);
    display: block;
    margin-bottom: 0;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: rgb(0, 102, 192);
    line-height: 30px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    background: #333;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 7.5px 20px;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 12px 0 8px 10px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
*/
hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: #CCC 1px solid;
    line-height: 19px;
    margin-top: 14px;
    margin-bottom: 14px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

.wrapper {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
}

.block{
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    margin-top: 20px;
}

.timeandname{
    text-align: right;
    padding-right: 40px;
}

.storytitle{
    text-align: center;
}

div.storybox{
    max-width: 1000px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 25px;
}
div.commentbox{
    background-color: white;
    float: right;
    width: 970px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 15px;
}


/*------------------------- toolbar --------------------------*/

.toolbar {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    top: 0;
    width: 100%;
    text-align: right;
}

.toolbarleft {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    top: 0;
    width: 100%;
    text-align: left;
}

.toolbar .left{
    float: left;
}

.toolbar .right{
    float: right;
}

.toolbar a{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-family: helvetica, arial, sans-serif;
    line-height: 26px;
    margin-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar a:hover{
    text-decoration: none;
    border-radius: 6px;
    color: white;
    background: #125E86;
}

.toolbar a:visited{
    text-decoration: none;
    color: white;
}

.toolbar #search-input {
    background: rgba(255,255,255,0.8);
    border-radius: 3px;
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    margin: 6px 2px 0 0;
    padding: 0 10px;
    width: 45%;
    color: #666;
    float: left;
    border: #006CA6 2px solid;
}

#type {
    font-size: 20px;
    float: left;
    height: 27px;
    line-height: 27px;
    margin: 6px 2px 0 0;
}

.toolbar .toolbar-btn {
    border-radius: 3px;
    border: #006CA6 2px solid;
    background: #118DD0;
    color: #fff;
    font-size: 20px;
    height: 27px;
    width: 80px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin: 6px 2px 0 0;
}

.toolbar .toolbar-btn:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px #333 inset;
}

.toolbar .toolbar-btn.btn-on {
    background: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 6px #000 inset;
}

.toolbar .user {
    font-size: 20px;
    font-family: helvetica;
    color: #fff;
    background: inherit;
    border: none;
    cursor: pointer;
}

.toolbar .user:hover {
    text-decoration: underline;
}




.DIV_1 {
    color: rgb(51, 51, 51);
    float: left;
/*    height: 2163px;
    width: 740px;*/
    height: auto;
    width: auto;
    perspective-origin: 370px 1081.5px;
    transform-origin: 370px 1081.5px;
    background: rgb(250, 251, 252) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_1*/

.DIV_2 {
    color: rgb(51, 51, 51);
    height: 57px;
    position: relative;
    top: 0px;
    /*width: 739px;*/
    width: auto;
    perspective-origin: 370px 29px;
    transform-origin: 370px 29px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(187, 189, 191);
    border-left: 1px solid rgb(229, 229, 229);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*.DIV_2*/

.DIV_3 {
    color: rgb(174, 169, 169);
    height: 57px;
    left: 0px;
    position: absolute;
    text-align: right;
    top: 0px;
    white-space: nowrap;
    z-index: 1;
    align-self: stretch;
    perspective-origin: 0px 28.5px;
    transform-origin: 0px 28.5px;
    background: rgb(245, 243, 243) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(174, 169, 169);
    font: normal normal normal normal 12px / 95px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(174, 169, 169) none 0px;
    overflow: hidden;
    transition: all 1s ease 0s;
}/*.DIV_3*/

.DIV_4 {
    color: rgb(51, 51, 51);
    height: 56px;
    position: relative;
    /*width: 739px;*/
    width: auto;
    z-index: 5;
    perspective-origin: 369.5px 28px;
    transform-origin: 369.5px 28px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 56px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_4*/

.H1_5 {
    float: left;
    height: 56px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 470px;
    perspective-origin: 235px 28px;
    transform-origin: 235px 28px;
    font: normal normal normal normal 16px / 56px 'Microsoft Yahei', STHeiti, Arial, SimSun;
    margin: 0px 0px 0px 20px;
    overflow: hidden;
}/*.H1_5*/

.UL_6 {
    color: rgb(51, 51, 51);
    float: right;
    height: 25px;
    width: 214px;
    perspective-origin: 107px 12.5px;
    transform-origin: 107px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 56px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 15px 20px 15px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_6*/

.LI_7 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 25px;
    width: 67px;
    perspective-origin: 33.5px 12.5px;
    transform-origin: 33.5px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 56px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_7*/

.A_8 {
    background-position: -8px -7px;
    color: rgb(45, 100, 179);
    display: block;
    height: 25px;
    text-align: center;
    text-decoration: none;
    width: 67px;
    perspective-origin: 33.5px 12.5px;
    transform-origin: 33.5px 12.5px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -8px -7px / auto padding-box border-box;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_8*/

.SPAN_9 {
    color: rgb(51, 51, 51);
    text-align: center;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_9*/

.LI_10 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 25px;
    position: relative;
    width: 67px;
    z-index: 200;
    perspective-origin: 33.5px 12.5px;
    transform-origin: 33.5px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 56px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_10*/

.DIV_11 {
    display: none;
    height: 25px;
    position: absolute;
    right: -85px;
    text-align: center;
    top: 42px;
    width: 270px;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 12px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
}/*.DIV_11*/

.DIV_12 {
    background-position: -8px -7px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 25px;
    left: 0px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 67px;
    align-self: stretch;
    perspective-origin: 33.5px 12.5px;
    transform-origin: 33.5px 12.5px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -8px -7px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_12*/

.P_13 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 25px;
    text-align: center;
    width: 67px;
    perspective-origin: 33.5px 12.5px;
    transform-origin: 33.5px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.P_13*/

.LI_14 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 25px;
    width: 60px;
    perspective-origin: 30px 12.5px;
    transform-origin: 30px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 56px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_14*/

.A_15 {
    background-position: -167px -8px;
    color: rgb(51, 51, 51);
    display: block;
    height: 25px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    perspective-origin: 30px 12.5px;
    transform-origin: 30px 12.5px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -167px -8px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 20px;
}/*.A_15*/

.DIV_16 {
    color: rgb(51, 51, 51);
/*    height: 2105px;
    width: 740px;*/
    height: auto;
    width: auto;
    perspective-origin: 370px 1052.5px;
    transform-origin: 370px 1052.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_16*/

.DIV_17 {
    color: rgb(51, 51, 51);
    height: 1065px;
    width: 739px;
    perspective-origin: 370px 533px;
    transform-origin: 370px 533px;
    background: rgb(250, 251, 252) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(225, 228, 230);
    border-left: 1px solid rgb(229, 229, 229);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_17*/

.DIV_18, .DIV_96, .DIV_158, .DIV_217, .DIV_279 {
    color: rgb(51, 51, 51);
    position: relative;
    width: 739px;
    perspective-origin: 369.5px 0px;
    transform-origin: 369.5px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_18, .DIV_96, .DIV_158, .DIV_217, .DIV_279*/

.DIV_19, .DIV_97, .DIV_218, .DIV_280 {
    color: rgb(51, 51, 51);
    float: left;
    height: 200px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 115px;
    transform-origin: 65px 115px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px 0px;
}/*.DIV_19, .DIV_97, .DIV_218, .DIV_280*/

.DIV_20 {
    color: rgb(51, 51, 51);
    position: relative;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 0px;
    transform-origin: 65px 0px;
    border: 0px solid rgb(255, 0, 0);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_20*/

.DIV_21 {
    background-position: -172px -120px;
    color: rgb(51, 51, 51);
    height: 36px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: -15px;
    width: 36px;
    align-self: stretch;
    perspective-origin: 18px 18px;
    transform-origin: 18px 18px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -172px -120px / auto padding-box border-box;
    border: 0px solid rgb(255, 0, 0);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_21*/

.A_22 {
    color: rgb(45, 100, 179);
    display: block;
    height: 36px;
    text-align: center;
    text-decoration: none;
    width: 36px;
    perspective-origin: 18px 18px;
    transform-origin: 18px 18px;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_22*/

.UL_23, .UL_98, .UL_219, .UL_281 {
    color: rgb(51, 51, 51);
    height: 200px;
    position: relative;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 100px;
    transform-origin: 65px 100px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_23, .UL_98, .UL_219, .UL_281*/

.LI_24, .LI_99, .LI_161, .LI_220, .LI_282 {
    color: rgb(51, 51, 51);
    height: 103px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 51.5px;
    transform-origin: 65px 51.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_24, .LI_99, .LI_161, .LI_220, .LI_282*/

.DIV_25, .DIV_100, .DIV_162, .DIV_221, .DIV_283 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 88px;
    left: 0px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 88px;
    perspective-origin: 48px 48px;
    transform-origin: 48px 48px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px;
}/*.DIV_25, .DIV_100, .DIV_162, .DIV_221, .DIV_283*/

.A_26, .A_101, .A_163, .A_222, .A_284 {
    background-position: 0px 0px;
    color: rgb(45, 100, 179);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    perspective-origin: 44px 44px;
    transform-origin: 44px 44px;
    background: rgb(255, 255, 255) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(45, 100, 179) none 0px;
    padding: 3px;
}/*.A_26, .A_101, .A_163, .A_222, .A_284*/

.IMG_27, .IMG_102, .IMG_164, .IMG_223, .IMG_285 {
    color: rgb(45, 100, 179);
    display: block;
    float: left;
    height: 80px;
    text-align: center;
    width: 80px;
    perspective-origin: 40px 40px;
    transform-origin: 40px 40px;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(45, 100, 179) none 0px;
}/*.IMG_27, .IMG_102, .IMG_164, .IMG_223, .IMG_285*/

.LI_28, .LI_103, .LI_165, .LI_224, .LI_286 {
    color: rgb(51, 51, 51);
    height: 0px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 0px;
    transform-origin: 65px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: -2px 0px 8px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_28, .LI_103, .LI_165, .LI_224, .LI_286*/

.LI_29, .LI_104, .LI_166, .LI_225, .LI_287 {
    color: rgb(51, 51, 51);
    height: 22px;
    letter-spacing: -3px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 11px;
    transform-origin: 65px 11px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_29, .LI_104, .LI_166, .LI_225, .LI_287*/

.A_30, .A_105, .A_167, .A_226, .A_288 {
    color: rgb(45, 100, 179);
    text-align: center;
    text-decoration: none;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_30, .A_105, .A_167, .A_226, .A_288*/

.LI_31, .LI_106, .LI_227, .LI_289 {
    color: rgb(51, 51, 51);
    height: 22px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 11px;
    transform-origin: 65px 11px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_31, .LI_106, .LI_227, .LI_289*/

.DIV_32, .DIV_107, .DIV_228, .DIV_290 {
    color: rgb(51, 51, 51);
    height: 17px;
    text-align: center;
    width: 80px;
    perspective-origin: 42.5px 11px;
    transform-origin: 42.5px 11px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1px 1px 1px 1px;
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 22.5px 5px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 0px 0px 3px 3px;
}/*.DIV_32, .DIV_107, .DIV_228, .DIV_290*/

.A_33 {
    background-position: -4750px 0px;
    color: rgb(45, 100, 179);
    display: block;
    float: left;
    height: 14px;
    left: 0px;
    text-align: center;
    text-decoration: none;
    top: 0px;
    width: 14px;
    perspective-origin: 7px 7px;
    transform-origin: 7px 7px;
    background: rgba(0, 0, 0, 0) url(http://tb1.bdstatic.com/tb/cms/com/icon/104_14.png?stamp=1441882313) no-repeat scroll -4750px 0px / auto padding-box border-box;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 3px 0px 0px;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_33*/

.DIV_34, .DIV_109, .DIV_230, .DIV_292 {
    color: rgb(45, 100, 179);
    text-align: center;
    width: 14px;
    perspective-origin: 7px 0px;
    transform-origin: 7px 0px;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(45, 100, 179) none 0px;
}/*.DIV_34, .DIV_109, .DIV_230, .DIV_292*/

.LI_35, .LI_110, .LI_168, .LI_231, .LI_293 {
    color: rgb(51, 51, 51);
    display: block;
    height: 30px;
    left: 0px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 130px;
    perspective-origin: 65px 15px;
    transform-origin: 65px 15px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 9px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_35, .LI_110, .LI_168, .LI_231, .LI_293*/

.DIV_36, .DIV_111, .DIV_169, .DIV_232, .DIV_294 {
    color: rgb(51, 51, 51);
    height: 30px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 15px;
    transform-origin: 65px 15px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_36, .DIV_111, .DIV_169, .DIV_232, .DIV_294*/

.A_37, .A_112, .A_170, .A_233, .A_295 {
    color: rgb(45, 100, 179);
    cursor: pointer;
    display: block;
    height: 28px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 98px;
    perspective-origin: 50px 15px;
    transform-origin: 50px 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(230, 230, 230);
    font: normal normal normal normal 12px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 15px;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_37, .A_112, .A_170, .A_233, .A_295*/

.DIV_38, .DIV_113, .DIV_171, .DIV_234, .DIV_296 {
    color: rgb(76, 76, 76);
    cursor: pointer;
    height: 28px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 60px;
    align-self: stretch;
    perspective-origin: 30px 14px;
    transform-origin: 30px 14px;
    border: 0px none rgb(76, 76, 76);
    font: normal normal normal normal 12px / 28px arial, SimSun;
    list-style: none outside none;
    outline: rgb(76, 76, 76) none 0px;
}/*.DIV_38, .DIV_113, .DIV_171, .DIV_234, .DIV_296*/

.DIV_39, .DIV_114, .DIV_172 {
    color: rgb(182, 94, 0);
    cursor: pointer;
    height: 25px;
    left: 67px;
    position: absolute;
    text-align: left;
    width: 25px;
    align-self: stretch;
    perspective-origin: 16.5px 13.5px;
    transform-origin: 16.5px 13.5px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-puser/widget/pb_author/img/s1_cfca9f7.gif) no-repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(182, 94, 0);
    font: normal normal bold normal 11px / 18px arial;
    list-style: none outside none;
    margin: 2px 0px 0px;
    outline: rgb(182, 94, 0) none 0px;
    padding: 2px 0px 0px 8px;
}/*.DIV_39, .DIV_114, .DIV_172*/

.DIV_40 {
    color: rgb(51, 51, 51);
    float: left;
    height: 1058px;
    position: relative;
    width: 588px;
    perspective-origin: 304px 532.5px;
    transform-origin: 304px 532.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 7px 20px;
}/*.DIV_40*/

.DIV_41 {
    color: rgb(51, 51, 51);
    height: 946px;
    min-height: 170px;
    position: relative;
    width: 568px;
    perspective-origin: 294px 485px;
    transform-origin: 294px 485px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 24px 20px 0px 0px;
}/*.DIV_41*/

.DIV_42, .DIV_117, .DIV_175, .DIV_238, .DIV_300 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/save_face/save_btn_bg_0_df0288f.png) no-repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_42, .DIV_117, .DIV_175, .DIV_238, .DIV_300*/

.A_43, .A_118, .A_176, .A_239, .A_301 {
    color: rgb(45, 100, 179);
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: 6px;
    text-decoration: none;
    top: 4px;
    width: 47px;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/save_face/save_face_btn_6808a0f.png) no-repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_43, .A_118, .A_176, .A_239, .A_301*/

.DIV_44 {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    width: 568px;
    word-wrap: break-word;
    perspective-origin: 284px 0px;
    transform-origin: 284px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_44*/

.DIV_45 {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    width: 568px;
    word-wrap: break-word;
    perspective-origin: 284px 0px;
    transform-origin: 284px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px Arial, simsun;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_45*/

#CC_46, #BR_52, #CC_119, #BR_121, #CC_177, #BR_179, #SCRIPT_215, #CC_240, #BR_242, #CC_302, #BR_304 {
    color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#CC_46, #BR_52, #CC_119, #BR_121, #CC_177, #BR_179, #SCRIPT_215, #CC_240, #BR_242, #CC_302, #BR_304*/

.DIV_47 {
    color: rgb(51, 51, 51);
    height: 902px;
    overflow-wrap: break-word;
    width: 568px;
    word-wrap: break-word;
    perspective-origin: 284px 451px;
    transform-origin: 284px 451px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_47*/

.DIV_47:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    visibility: hidden;
    word-wrap: break-word;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_47:after*/

#BR_48, #BR_50 {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#BR_48, #BR_50*/

.IMG_49 {
    color: rgb(51, 51, 51);
    cursor: url(http://tb2.bdstatic.com/tb/static-pb/img/cur_zin.cur), pointer;
    height: 314px;
    max-width: 570px;
    overflow-wrap: break-word;
    width: 558px;
    word-wrap: break-word;
    perspective-origin: 279px 157px;
    transform-origin: 279px 157px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.IMG_49*/

.IMG_51 {
    color: rgb(51, 51, 51);
    cursor: url(http://tb2.bdstatic.com/tb/static-pb/img/cur_zin.cur), pointer;
    height: 534px;
    max-width: 570px;
    overflow-wrap: break-word;
    width: 488px;
    word-wrap: break-word;
    perspective-origin: 244px 267px;
    transform-origin: 244px 267px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.IMG_51*/

#BR_53, #BR_122, #BR_180, #BR_243, #BR_305 {
    color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#BR_53, #BR_122, #BR_180, #BR_243, #BR_305*/

.DIV_54, .DIV_123, .DIV_181, .DIV_244, .DIV_306 {
    background-position: -6px -6px;
    color: rgb(51, 51, 51);
    display: none;
    height: 17px;
    position: absolute;
    right: -2px;
    top: 20px;
    width: 17px;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/user_hide_post_c1433d6.png) no-repeat scroll -6px -6px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_54, .DIV_123, .DIV_181, .DIV_244, .DIV_306*/

.DIV_55 {
    color: rgb(51, 51, 51);
    height: 30px;
    text-align: center;
    width: 588px;
    perspective-origin: 294px 15px;
    transform-origin: 294px 15px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_55*/

.DIV_56 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 82px;
    perspective-origin: 41px 15px;
    transform-origin: 41px 15px;
    border: 0px solid rgb(220, 220, 220);
    font: normal normal normal normal 12px / 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_56*/

.DIV_57 {
    color: rgb(51, 51, 51);
    float: left;
    height: 32px;
    text-align: left;
    width: 78px;
    perspective-origin: 39px 17px;
    transform-origin: 39px 17px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 2px;
}/*.DIV_57*/

.SPAN_58 {
    background-position: -80px -184px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    text-align: left;
    width: 76px;
    perspective-origin: 38px 15px;
    transform-origin: 38px 15px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) repeat scroll -80px -184px / auto padding-box border-box;
    border: 0px solid rgb(255, 0, 0);
    font: normal normal normal normal 12px / 18px 宋体, Arial;
    margin: 1px;
    outline: rgb(51, 51, 51) none 0px;
}/*.SPAN_58*/

.SPAN_59 {
    background-position: -325px -184px;
    color: rgb(42, 122, 211);
    cursor: pointer;
    display: block;
    height: 28px;
    text-align: left;
    vertical-align: middle;
    width: 14px;
    perspective-origin: 8px 14px;
    transform-origin: 8px 14px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -325px -184px / auto padding-box border-box;
    border: 0px solid rgb(220, 220, 220);
    font: normal normal normal normal 12px / 26px arial;
    margin: 0px 0px 0px 60px;
    outline: rgb(42, 122, 211) none 0px;
    overflow: hidden;
    padding: 0px 2px 0px 0px;
}/*.SPAN_59*/

.A_60 {
    color: rgb(100, 101, 103);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) url(about:blank) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(100, 101, 103);
    font: normal normal normal normal 12px / 16px 宋体;
    margin: 1px 0px 0px;
    outline: rgb(100, 101, 103) none 0px;
    overflow: hidden;
}/*.A_60*/

.SPAN_61 {
    background-position: -303px -183px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: right;
    height: 28px;
    text-align: center;
    width: 5px;
    perspective-origin: 2.5px 14px;
    transform-origin: 2.5px 14px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -303px -183px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*.SPAN_61*/

.DIV_62, .DIV_124, .DIV_182, .DIV_245, .DIV_307 {
    color: rgb(51, 51, 51);
    height: 28px;
    /*width: 575px;*/
    width: auto;
    perspective-origin: 287.5px 14px;
    transform-origin: 287.5px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 13px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_62, .DIV_124, .DIV_182, .DIV_245, .DIV_307*/

.DIV_63, .DIV_125, .DIV_183, .DIV_246, .DIV_308 {
    color: rgb(51, 51, 51);
    height: 28px;
    position: relative;
    /*width: 568px;*/
    width: auto;
    perspective-origin: 284px 14px;
    transform-origin: 284px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 30px 7px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_63, .DIV_125, .DIV_183, .DIV_246, .DIV_308*/

.UL_64 {
    color: rgb(51, 51, 51);
    float: right;
    height: 28px;
    width: 24px;
    perspective-origin: 12px 14px;
    transform-origin: 12px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 6px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_64*/

.LI_65 {
    color: rgb(51, 51, 51);
    height: 28px;
    width: 24px;
    perspective-origin: 12px 14px;
    transform-origin: 12px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.LI_65*/

.A_66, .A_81, .A_143, .A_201, .A_264, .A_326 {
    color: rgb(45, 100, 179);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_66, .A_81, .A_143, .A_201, .A_264, .A_326*/

.UL_67, .UL_129, .UL_187, .UL_250, .UL_312 {
    color: rgb(153, 153, 153);
    float: right;
    height: 28px;
    width: 125.438px;
    perspective-origin: 62.7188px 14px;
    transform-origin: 62.7188px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px;
}/*.UL_67, .UL_129, .UL_187, .UL_250, .UL_312*/

.LI_68, .LI_70, .LI_78, .LI_130, .LI_132, .LI_140, .LI_188, .LI_190, .LI_198, .LI_251, .LI_253, .LI_261, .LI_313, .LI_315, .LI_323 {
    color: rgb(153, 153, 153);
    display: inline;
    height: auto;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}/*.LI_68, .LI_70, .LI_78, .LI_130, .LI_132, .LI_140, .LI_188, .LI_190, .LI_198, .LI_251, .LI_253, .LI_261, .LI_313, .LI_315, .LI_323*/

.SPAN_69, .SPAN_71, .SPAN_79, .SPAN_131, .SPAN_141, .SPAN_189, .SPAN_199, .SPAN_252, .SPAN_262, .SPAN_314, .SPAN_324 {
    color: rgb(153, 153, 153);
    text-align: left;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*.SPAN_69, .SPAN_71, .SPAN_79, .SPAN_131, .SPAN_141, .SPAN_189, .SPAN_199, .SPAN_252, .SPAN_262, .SPAN_314, .SPAN_324*/

.UL_72, .UL_134, .UL_255, .UL_317 {
    color: rgb(51, 51, 51);
    float: right;
    height: 28px;
    width: 153.828px;
    perspective-origin: 76.9063px 14px;
    transform-origin: 76.9063px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_72, .UL_134, .UL_255, .UL_317*/

.LI_73, .LI_135, .LI_193, .LI_256, .LI_318 {
    color: rgb(153, 153, 153);
    display: inline;
    height: auto;
    position: relative;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}/*.LI_73, .LI_135, .LI_193, .LI_256, .LI_318*/

.A_74, .A_136, .A_194, .A_257, .A_319 {
    background-position: 100% 4px;
    color: rgb(153, 153, 153);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/arrow_8e3046f.gif) no-repeat scroll 100% 4px / auto padding-box border-box;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px 0px 0px;
}/*.A_74, .A_136, .A_194, .A_257, .A_319*/

.SPAN_75, .SPAN_137, .SPAN_195, .SPAN_258, .SPAN_320 {
    color: rgb(153, 153, 153);
    display: block;
    height: 32px;
    left: -9999px;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 90px;
    z-index: 50002;
    align-self: stretch;
    perspective-origin: 51px 19px;
    transform-origin: 51px 19px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(229, 229, 229);
    font: normal normal normal normal 12px / 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 2px 5px;
}/*.SPAN_75, .SPAN_137, .SPAN_195, .SPAN_258, .SPAN_320*/

.A_76, .A_77, .A_138, .A_196, .A_259, .A_321 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: block;
    height: 16px;
    text-align: center;
    text-decoration: none;
    width: 90px;
    perspective-origin: 45px 8px;
    transform-origin: 45px 8px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*.A_76, .A_77, .A_138, .A_196, .A_259, .A_321*/

.SPAN_80, .SPAN_142, .SPAN_200, .SPAN_263, .SPAN_325 {
    color: rgb(153, 153, 153);
    position: relative;
    text-align: left;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*.SPAN_80, .SPAN_142, .SPAN_200, .SPAN_263, .SPAN_325*/

.UL_82, .UL_144, .UL_202, .UL_265, .UL_327 {
    color: rgb(153, 153, 153);
    float: right;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 7px 3px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px;
}/*.UL_82, .UL_144, .UL_202, .UL_265, .UL_327*/

.DIV_83, .DIV_145, .DIV_203, .DIV_266, .DIV_328 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    width: 568px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(247, 248, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 5px 8px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_83, .DIV_145, .DIV_203, .DIV_266, .DIV_328*/

.DIV_84, .DIV_146, .DIV_204, .DIV_267, .DIV_329 {
    background-position: 0px 0px;
    color: rgb(51, 51, 51);
    float: left;
    height: 2px;
    width: 486px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 1px solid rgb(240, 241, 242);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: -1px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*.DIV_84, .DIV_146, .DIV_204, .DIV_267, .DIV_329*/

.DIV_85, .DIV_147, .DIV_205, .DIV_268, .DIV_330 {
    color: rgb(51, 51, 51);
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 1px solid rgb(240, 241, 242);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 1px solid rgb(240, 241, 242);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 15px 14px;
}/*.DIV_85, .DIV_147, .DIV_205, .DIV_268, .DIV_330*/

.UL_86, .UL_148, .UL_206, .UL_269, .UL_331 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_86, .UL_148, .UL_206, .UL_269, .UL_331*/

.LI_87, .LI_149, .LI_207, .LI_270, .LI_332 {
    color: rgb(51, 51, 51);
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-top: 1px dotted rgb(215, 215, 215);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 10px 0px 0px;
}/*.LI_87, .LI_149, .LI_207, .LI_270, .LI_332*/

.A_88, .A_150, .A_208, .A_271, .A_333 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: right;
    text-align: left;
    text-decoration: none;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(252, 252, 252) 0px, rgb(242, 242, 242) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*.A_88, .A_150, .A_208, .A_271, .A_333*/

.I_89, .I_151, .I_209, .I_272, .I_334 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: italic normal normal normal 12px / normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*.I_89, .I_151, .I_209, .I_272, .I_334*/

.P_90, .P_152, .P_210, .P_273, .P_335 {
    color: rgb(51, 51, 51);
    height: auto;
    text-align: left;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*.P_90, .P_152, .P_210, .P_273, .P_335*/

.DIV_91, .DIV_153, .DIV_211, .DIV_274, .DIV_336 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 13px 0px 0px;
}/*.DIV_91, .DIV_153, .DIV_211, .DIV_274, .DIV_336*/

.INPUT_92, .INPUT_154, .INPUT_212, .INPUT_275, .INPUT_337 {
    box-sizing: content-box;
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 2px inset rgb(51, 51, 51);
    font: normal normal normal normal 12px / normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.INPUT_92, .INPUT_154, .INPUT_212, .INPUT_275, .INPUT_337*/

.DIV_93, .DIV_155, .DIV_213, .DIV_276, .DIV_338 {
    background-position: -8px -226px;
    color: rgb(51, 51, 51);
    height: 2px;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat scroll -8px -226px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*.DIV_93, .DIV_155, .DIV_213, .DIV_276, .DIV_338*/

.DIV_94, .DIV_156, .DIV_214, .DIV_277, .DIV_339 {
    clear: both;
    color: rgb(51, 51, 51);
    visibility: hidden;
    width: 739px;
    perspective-origin: 369.5px 0px;
    transform-origin: 369.5px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 0px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_94, .DIV_156, .DIV_214, .DIV_277, .DIV_339*/

.DIV_95, .DIV_157, .DIV_216 {
    color: rgb(51, 51, 51);
/*    height: 259px;
    width: 739px;*/
    height: auto;
    width: auto;
    perspective-origin: 370px 130px;
    transform-origin: 370px 130px;
    background: rgb(250, 251, 252) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(225, 228, 230);
    border-left: 1px solid rgb(229, 229, 229);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_95, .DIV_157, .DIV_216*/

.A_108, .A_229, .A_291 {
    background-position: -4700px 0px;
    color: rgb(45, 100, 179);
    display: block;
    float: left;
    height: 14px;
    left: 0px;
    text-align: center;
    text-decoration: none;
    top: 0px;
    width: 14px;
    perspective-origin: 7px 7px;
    transform-origin: 7px 7px;
    background: rgba(0, 0, 0, 0) url(http://tb1.bdstatic.com/tb/cms/com/icon/104_14.png?stamp=1441882313) no-repeat scroll -4700px 0px / auto padding-box border-box;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 3px 0px 0px;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_108, .A_229, .A_291*/

.DIV_115, .DIV_173, .DIV_236, .DIV_298 {
    color: rgb(51, 51, 51);
    float: left;
    /*height: 252px;*/
    height: auto;
    position: relative;
    /*width: 588px;*/
    width: auto;
    perspective-origin: 304px 129.5px;
    transform-origin: 304px 129.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 7px 20px;
}/*.DIV_115, .DIV_173, .DIV_236, .DIV_298*/

.DIV_116, .DIV_174, .DIV_237, .DIV_299 {
    color: rgb(51, 51, 51);
    /*height: 170px;*/
    height: auto;
    min-height: 170px;
    position: relative;
    /*width: 568px;*/
    width: auto;
    perspective-origin: 294px 97px;
    transform-origin: 294px 97px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 24px 20px 0px 0px;
}/*.DIV_116, .DIV_174, .DIV_237, .DIV_299*/

.DIV_120, .DIV_178, .DIV_303 {
    color: rgb(51, 51, 51);
    height: 24px;
    overflow-wrap: break-word;
    width: 568px;
    word-wrap: break-word;
    perspective-origin: 284px 12px;
    transform-origin: 284px 12px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_120, .DIV_178, .DIV_303*/

.DIV_120:after, .DIV_178:after, .DIV_303:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    visibility: hidden;
    word-wrap: break-word;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_120:after, .DIV_178:after, .DIV_303:after*/

.DIV_126, .DIV_184, .DIV_247, .DIV_309 {
    color: rgb(51, 51, 51);
    float: right;
    height: 28px;
    width: 24px;
    perspective-origin: 12px 14px;
    transform-origin: 12px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 6px;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_126, .DIV_184, .DIV_247, .DIV_309*/

.A_127, .A_185, .A_248, .A_310 {
    color: rgb(45, 100, 179);
    text-decoration: none;
    border: 0px none rgb(45, 100, 179);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(45, 100, 179) none 0px;
}/*.A_127, .A_185, .A_248, .A_310*/

.SPAN_128, .SPAN_186, .SPAN_249, .SPAN_311 {
    color: rgb(29, 83, 191);
    cursor: pointer;
    display: none;
    height: 28px;
    text-align: center;
    width: 80px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(247, 248, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(240, 241, 242);
    border-right: 1px solid rgb(240, 241, 242);
    border-bottom: 0px none rgb(29, 83, 191);
    border-left: 1px solid rgb(240, 241, 242);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(29, 83, 191) none 0px;
}/*.SPAN_128, .SPAN_186, .SPAN_249, .SPAN_311*/

.SPAN_133, .SPAN_191, .SPAN_254, .SPAN_316 {
    color: rgb(153, 153, 153);
    text-align: left;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*.SPAN_133, .SPAN_191, .SPAN_254, .SPAN_316*/

.A_139, .A_197, .A_260, .A_322 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: block;
    height: 16px;
    text-align: center;
    text-decoration: none;
    width: 90px;
    perspective-origin: 45px 8px;
    transform-origin: 45px 8px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*.A_139, .A_197, .A_260, .A_322*/

.DIV_159 {
    color: rgb(51, 51, 51);
    float: left;
    height: 170px;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 100px;
    transform-origin: 65px 100px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px 0px;
}/*.DIV_159*/

.UL_160 {
    color: rgb(51, 51, 51);
    height: 170px;
    position: relative;
    text-align: center;
    width: 130px;
    perspective-origin: 65px 85px;
    transform-origin: 65px 85px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_160*/

.UL_192 {
    color: rgb(51, 51, 51);
    float: right;
    height: 28px;
    width: 149.828px;
    perspective-origin: 74.9063px 14px;
    transform-origin: 74.9063px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*.UL_192*/

.DIV_235 {
    color: rgb(182, 94, 0);
    cursor: pointer;
    height: 25px;
    left: 67px;
    position: absolute;
    text-align: left;
    width: 25px;
    align-self: stretch;
    perspective-origin: 16.5px 14px;
    transform-origin: 16.5px 14px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-puser/widget/pb_author/img/s2_1d1b36a.gif) no-repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(182, 94, 0);
    font: normal normal bold normal 11px / 18px arial;
    list-style: none outside none;
    margin: 2px 0px 0px;
    outline: rgb(182, 94, 0) none 0px;
    padding: 3px 0px 0px 8px;
}/*.DIV_235*/

.DIV_241 {
    color: rgb(51, 51, 51);
    /*height: 48px;*/
    height: auto;
    overflow-wrap: break-word;
    width: 829px;
    word-wrap: break-word;
    perspective-origin: 284px 24px;
    transform-origin: 284px 24px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_241*/

.DIV_241:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    visibility: hidden;
    word-wrap: break-word;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_241:after*/

.DIV_278 {
    color: rgb(51, 51, 51);
    height: 259px;
    width: 739px;
    perspective-origin: 370px 129.5px;
    transform-origin: 370px 129.5px;
    background: rgb(250, 251, 252) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 1px solid rgb(229, 229, 229);
    font: normal normal normal normal 12px / 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*.DIV_278*/

.DIV_297 {
    color: rgb(182, 94, 0);
    cursor: pointer;
    height: 25px;
    left: 67px;
    position: absolute;
    text-align: left;
    width: 25px;
    align-self: stretch;
    perspective-origin: 16.5px 14px;
    transform-origin: 16.5px 14px;
    background: rgba(0, 0, 0, 0) url(http://tb2.bdstatic.com/tb/static-puser/widget/pb_author/img/s3_ad6bdc8.gif) no-repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(182, 94, 0);
    font: normal normal bold normal 11px / 18px arial;
    list-style: none outside none;
    margin: 2px 0px 0px;
    outline: rgb(182, 94, 0) none 0px;
    padding: 3px 0px 0px 8px;
}/*.DIV_297*/



